.Resourcesdrop:hover {
        background-color: white !important;
        color: blue !important;
    }
    .graphcard-parent :hover .graphcard{
        border-color: blue;
    }
    .droplet-parent:hover .droplet{
        display: block !important;
    }
    @media (min-width:350px) and (max-width:900px ){
        #paccel{
        font-size: 2.5rem !important;
        line-height: 40px !important;
    }
    .pprice{
        font-size: 1.5rem !important;
    }
    }